langchain 
langchain_ibm 
langchain_core
langchain_community
langchain_experimental
langchain-huggingface
langchain-chroma
sentence-transformers
tiktoken
pdfminer.six
IPython 
nasapy
langgraph
langgraph-supervisor
streamlit
pymilvus
chromadb
pypdf
pygraphviz